<button (click)="goToConnexion()" class="btn-login">Se connecter</button>

<div class="accueil-container mat-typography">
  <section class="intro">
    <mat-card class="intro-card">
      <h1 class="app-title">
        <img alt="logo muscu"
             class="logo-muscu" src="https://img.freepik.com/vecteurs-libre/culturistes-logo-du-club-fitness_1284-45671.jpg"/>
        <strong>Muscu App</strong>
      </h1>

      <p>
        Suivi d’entraînement, progression visible : Muscu App te pousse à te dépasser chaque jour.
      </p>
      <button (click)="commencer()" class="btn-commencer"> Commencer maintenant</button>
    </mat-card>
  </section>

  <section class="features">
    <div class="feature">
      <img alt="IA" class="feature-icon"
           src="https://img.freepik.com/vecteurs-premium/modele-logo-ia-vectoriel-fond-blanc_1023984-15069.jpg">
      <h3>Suivi intelligent avec une IA prêt à t’écouter</h3>
      <p>Mesure ta progression avec des stats claires et un historique complet.</p>
    </div>

    <div class="feature">
      <img
        alt="Se surpasser"
        class="feature-icon" src="https://static.vecteezy.com/ti/vecteur-libre/p1/539318-illustration-noir-et-blanche-d-39-une-main-avec-haltere-vectoriel.jpg">
      <h3>Se surpasser</h3>
      <p>Reste motivé et surpasse tes propres limites adaptés à ton niveau et tes objectifs.</p>
    </div>

    <div class="feature">
      <img alt="Communauté" class="feature-icon"
           src="https://img.freepik.com/vecteurs-libre/mains-reliant-logo_23-2147507857.jpg">
      <h3>Communauté</h3>
      <p>Partage ton parcours et motive-toi avec d’autres passionnés.</p>
    </div>
  </section>
</div>
